*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
   --color_black: #000000;
}

body{
   font-size: 16px;
   font-family: 'Oswald', sans-serif;
}

a{
   text-decoration: none;
}

hr{
   margin-bottom: 5px;
}
.container{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

/* navbar */
.nav__logo{
   width: 50px;
   color: rgb(64, 64, 116);
}

.nav{
   display: flex;
   font-size: 17px;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   padding: 20px 0;
}
.nav__menu{
   list-style: none;
   display: flex;
   flex: 1;
}

.nav__menu li{
   padding: 10px;
}

.nav__menu a{
   color: var(--color_black);
}

.nav__menu a:hover{
   border-bottom: 2px solid var(--color_black);
}

/* header */
.header{
   width: 100%;
   height: 550px;
   background: url('../assets/img/header.jpg') no-repeat center center/cover;
   margin-bottom: 20px;
   padding-bottom: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}

.header__btn{
   background: #262626;
   display: inline-block;
   font-weight: bold;
   cursor: pointer;
   padding: 10px 20px;
   color: white;
   font-size: 15px;
   border: solid 1px white;
   margin-top: 10px;
}

.Header__title,
.header__text{
   margin-bottom: 10px;
   color: white;
}

.header__btn:hover{
   opacity: .7;
}

/* News */
.news{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}
.news-cards{
   position: relative;
}
.news-cards__img{
   width: 100%;
   height: 180px;
}

.news-cards__title{
   font-size: 20px;
   margin: 10px 0;
}

.news-cards__link{
   display: inline-block;
   padding: 10px 0;
   text-transform: uppercase;
   font-weight: bold;
   color: var(--color_black);
   position: absolute;
   bottom: -35px;
}